
<% layout('layouts/sidebar')%> 

<div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__title">
      <img src="/img/assets/hello.svg" alt="" />
      <div class="main__greeting">
        <h1>Hello</h1>
        <p>Welcome to your admin dashboard</p>
      </div>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    
    
    <div class="main__cards">
      <div class="card">
        <i
          class="fa fa-user-o fa-2x text-lightblue"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Positive Cases</p>
          <span class="font-bold text-title">0</span>
        </div>
      </div>

      <div class="card">
        <i class="fa fa-user-md fa-2x text-red" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Recovered Cases</p>
          <span class="font-bold text-title">2467</span>
        </div>
      </div>

      <div class="card">
        <i
          class="fa fa-bus fa-2x text-yellow"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Number of LSI</p>
          <span class="font-bold text-title">340</span>
        </div>
      </div>

      <div class="card">
        <i
          class="fa fa-user-plus fa-2x text-green"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Number of Quarantine</p>
          <span class="font-bold text-title">0</span>
        </div>
      </div>
    </div>
    <!-- MAIN CARDS ENDS HERE -->

    <!-- CHARTS STARTS HERE -->
    <div class="charts">

      <div class="charts__right">
        <div class="charts__right__title">
          <div>
            <h1>Stats Report</h1>
            <p>San Roque N. Samar</p>
          </div>
          <i class="fa fa-tripadvisor" aria-hidden="true"></i>
        </div>

        <div class="charts__right__cards">
          <div class="card1">
            <h1>Registered Person</h1>
            <p>1</p>
          </div>

          <div class="card2">
            <h1>Registered Establishment</h1>
            <p>1</p>
          </div>

          <div class="card3">
            <h1>Number of Satellite Account</h1>
            <p>10</p>
          </div>

          <div class="card4">
            <h1>Issued Quarantine Pass</h1>
            <p>1881</p>
          </div>
        </div>
      </div>
    </div>
    <!-- CHARTS ENDS HERE -->
  </div>