<% layout('layouts/boilerplate')%> 

<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-lg-12 gambar">
            <img src="/img/social.svg" width="100%">
        </div>
        <div class="col-sm-12 position-relative p-4">
            <div class="position-absolute top-0 end-0">
                <img src="/img/social.svg" class="img"alt="">
            </div>
            <h1 class="display-1 text-truncate tebel-banget">WELCOME</h1>
            <div class="desc mt-4">
                <p>Join us to stop spreading the COVID-19 virus through this
                    community driven contact tracing
                </p>
            </div>
            <div class="tombol mt-5">
                <a href="/register" class="button rounded-pill shadow tebel-sedang">Get QR Code</a>
            </div>
            

        </div>

    </div>
</div>
  

