<% layout('layouts/boilerplate')%> 

<div class="row justify-content-md-center">
    
 
        <p class="text-center" id="p"></p>
        <div  id="reader">
        </div>
</div>

<script src="/js/html5-qrcode.min.js"></script>
<script src="/js/qrcodeIN.js"></script>
    
