<% layout('layouts/boilerplate')%> 
    <h1 class="text-center">YOU HAVE SUCCESSFULY REGISTER</h1>
    <h2 class="text-center" ><%=name.toUpperCase()  %> </h2>
    <img src="<%=src  %> " alt="" class="rounded mx-auto d-block">