<% layout('layouts/boilerplate')%> 

<div class="card text-center mb-3">
  <div class="card-header">
    Scan QRcode on Entrance
  </div>
  <div class="card-body">
    <a href="/qrcode/in" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card text-center">
    <div class="card-header">
      Scan QRcode on Exit
    </div>
    <div class="card-body">
      <a href="/qrcode/out" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>